[submodule "vendor/ansi-parser"]
	path = vendor/ansi-parser
	url = https://github.com/RyanSquared/ansi-parser-rs
[submodule "enigma"]
	path = enigma
	url = https://github.com/RyanSquared/ryansquared.github.io
